html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-tab-size: 4;
  tab-size: 4;
  word-break: normal;
  font-family: "Noto Sans JP", sans-serif;
}

*,
:after,
:before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after,
:before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
  overflow-x: hidden;
}

hr {
  color: inherit;
  height: 0;
  overflow: visible;
}

details,
main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #000;
}

a:active,
a:hover {
  outline-width: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  text-indent: 0;
}

iframe {
  border-style: none;
}

input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
  cursor: pointer;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

[disabled] {
  cursor: default;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true] {
  cursor: default;
}

.btn {
  white-space: nowrap;
  display: block;
  color: #fff;
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 14px 35px;
}
@media screen and (max-width: 768px) {
  .btn {
    font-size: 16px;
  }
}

.btn--recruit {
  background-color: #222;
}
@media screen and (max-width: 768px) {
  .btn--recruit {
    display: none;
  }
}

.btn--entry {
  background-color: #AFA86F;
}
@media screen and (max-width: 768px) {
  .btn--entry {
    display: none;
  }
}

.btn--header-menu {
  display: block;
}

.btn--view {
  width: 355px;
  color: #000;
  text-align: center;
  margin: 0 auto;
  padding: 30px 124px;
  border: 1px solid #000;
  position: relative;
}
.btn--view::after {
  width: 12px;
  content: url(/img/arrow7.svg);
  position: absolute;
  right: 30px;
}

.btn--cta {
  color: #222;
  background-color: #AFA86F;
  position: relative;
  text-align: center;
  padding: 27px 0;
}
.btn--cta::after {
  width: 12px;
  content: url(/img/arrow7.svg);
  position: absolute;
  right: 30px;
}
@media screen and (max-width: 768px) {
  .btn--cta {
    width: 80%;
    margin: 0 auto;
  }
}

.sec-title {
  width: fit-content;
  position: relative;
  margin-bottom: 52px;
}
.sec-title__en {
  color: #979797;
  opacity: 0.1;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 136px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .sec-title__en {
    font-size: 80px;
  }
}
.sec-title__ja {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: 0%;
}
@media screen and (max-width: 768px) {
  .sec-title__ja {
    font-size: 32px;
  }
}

.sec__description {
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-top: 52px;
}

.border {
  border-bottom: 1px solid #000;
}

.sec-arrow {
  width: 58px;
  height: 58px;
  background-color: #000;
  border-radius: 50%;
  background-image: url(../img/Arrow6.svg);
  background-size: 16px;
  background-position: center;
  position: absolute;
  bottom: 15%;
  right: 0;
}

.logo--pc {
  display: block;
}
@media screen and (max-width: 768px) {
  .logo--pc {
    display: none;
  }
}

.logo--sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .logo--sp {
    display: block;
  }
}

.logo--black {
  display: none;
}
.logo--black.is-active {
  display: block;
}

.logo--white {
  display: block;
}
.logo--white.is-active {
  display: none;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 103px;
  }
}

#header {
  position: static;
  z-index: 100;
  background-color: #fff;
}
#header .logo--white {
  display: none;
}
#header .logo--black {
  display: block;
}
#header #hamburger span {
  background-color: #222;
}
#header #hamburger span:nth-child(3)::after {
  color: #222;
}
body.home #header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}
body.home #header.is-scroll, body.home #header.is-active {
  background-color: #fff;
}
body.home #header.is-scroll .logo--white, body.home #header.is-active .logo--white {
  display: none;
}
body.home #header.is-scroll .logo--black, body.home #header.is-active .logo--black {
  display: block;
}
body.home #header.is-scroll #hamburger span, body.home #header.is-active #hamburger span {
  background-color: #222;
}
body.home #header.is-scroll #hamburger span:nth-child(3)::after, body.home #header.is-active #hamburger span:nth-child(3)::after {
  color: #222;
}
body.home #header.is-active {
  background-color: #FAF7F1;
}
body.home #header .logo--white {
  display: block;
}
body.home #header .logo--black {
  display: none;
}
body.home #header #hamburger span {
  background-color: #fff;
}
body.home #header #hamburger span:nth-child(3)::after {
  color: #fff;
}

.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 30px 26px;
}
@media screen and (max-width: 768px) {
  .header__wrapper {
    padding: 8px 12px 0;
  }
}

.header__right {
  display: flex;
  gap: 40px;
}

#hamburger {
  width: 52px;
  height: 50px;
  display: block;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #hamburger {
    width: 32px;
    height: 32px;
  }
}
#hamburger span {
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
}
#hamburger span:nth-child(2) {
  top: 15px;
}
@media screen and (max-width: 768px) {
  #hamburger span:nth-child(2) {
    top: 9px;
  }
}
#hamburger span:nth-child(3) {
  top: 30px;
}
@media screen and (max-width: 768px) {
  #hamburger span:nth-child(3) {
    top: 18px;
  }
}
#hamburger span:nth-child(3)::after {
  content: "MENU";
  color: #fff;
  font-family: Viga;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
#hamburger.is-active span {
  background-color: #222;
}
#hamburger.is-active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
#hamburger.is-active span:nth-child(2) {
  opacity: 0;
  display: none;
}
#hamburger.is-active span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}
#hamburger.is-active span:nth-child(3)::after {
  display: none;
}

.header-menu {
  display: none;
  background-color: #FAF7F1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 50;
}
.header-menu.is-active {
  display: block;
}

.header-menu__wrapper {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 190px;
}

.header-menu__left {
  padding-right: 63px;
}

.header-menu__right .menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 40px;
  border-left: 1px solid #AFA86F;
  padding-left: 63px;
}

.menu__list {
  font-family: Viga;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #222;
  border-top: 1px solid #AFA86F;
  padding: 23px 0;
}
.menu__list:nth-child(7) {
  padding-top: 50px;
  padding-bottom: 0;
}
.menu__list:nth-child(8) {
  padding-top: 50px;
  padding-bottom: 0;
}
.menu__list span {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  display: block;
}

#footer {
  position: relative;
}

.footer__wrapper {
  background-color: #FAF7F1;
  max-width: 1312px;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0 auto;
  padding-top: 198px;
  padding-bottom: 67px;
}
@media screen and (max-width: 768px) {
  .footer__wrapper {
    padding-top: 170px;
  }
}

.footer-bg {
  width: 100%;
  height: 488px;
  background-image: url(../img/cta.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-cta {
  max-width: 956px;
  width: 100%;
  border-radius: 20px;
  margin: 0 auto;
  background-color: #fff;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  padding: 50px 200px;
}
@media screen and (max-width: 768px) {
  .footer-cta {
    width: 90%;
    top: 25%;
    padding: 25px;
  }
}

.footer-cta__text {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 31px;
}

.footer__inner-top {
  display: flex;
  justify-content: center;
  gap: 109px;
  margin-bottom: 67px;
}
@media screen and (max-width: 768px) {
  .footer__inner-top {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 41px 22px;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .footer-menu {
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer-menu__list {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
@media screen and (max-width: 768px) {
  .footer-menu__list {
    text-align: center;
  }
}

.footer__inner-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 178px;
}
@media screen and (max-width: 768px) {
  .footer__inner-bottom {
    flex-direction: column-reverse;
    align-items: center;
    gap: 29px;
  }
}

.footer__sns {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .copyright {
    margin-top: 20px;
  }
}

#fv {
  width: 100%;
  height: 100vh;
}

.fv-slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fv-slideshow__list {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.fv-slideshow__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
.fv-slideshow__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fv-slideshow__item.is-active {
  opacity: 1;
}

.fv__wrapper {
  padding-bottom: 100px;
}

.fv__inner {
  width: 100%;
  position: absolute;
  bottom: 5%;
}

.fv__title {
  color: #fff;
  font-family: Viga;
  font-weight: 400;
  font-style: Regular;
  font-size: 96px;
  line-height: 120%;
  letter-spacing: 0%;
  margin-left: 66px;
  margin-bottom: 103px;
}
@media screen and (max-width: 768px) {
  .fv__title {
    font-size: 48px;
  }
}

.fv__catchphrase {
  color: #fff;
  background-color: #000;
  display: inline-block;
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
  padding: 17px 66px;
  margin-bottom: 63px;
}
@media screen and (max-width: 768px) {
  .fv__catchphrase {
    font-size: 12px;
  }
}

.fv-news {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fv-news__title {
  color: #fff;
  background-color: #000;
  font-family: Viga;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 19px 60px;
}
@media screen and (max-width: 768px) {
  .fv-news__title {
    font-size: 10px;
  }
}

.fv-news__text {
  width: 70%;
  background-color: #fff;
  font-family: Noto Sans JP;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 23px 60px;
}
@media screen and (max-width: 768px) {
  .fv-news__text {
    font-size: 12px;
  }
}

#about {
  padding: 100px 0 60px;
}

@media screen and (max-width: 768px) {
  .about__wrapper {
    padding: 0 17px;
  }
}

.about-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.about-slider__wrapper {
  display: flex;
  width: fit-content;
  animation: about-scroll 10s linear infinite;
}
.about-slider__wrapper:hover {
  animation-play-state: paused;
}

.about-slider__item {
  flex-shrink: 0;
  width: 508px;
  margin: 0 34px;
}
@media screen and (max-width: 768px) {
  .about-slider__item {
    width: 271px;
    margin: 0 16px;
  }
}
.about-slider__item img {
  width: 100%;
  display: block;
  border-radius: 60px;
}
@media screen and (max-width: 768px) {
  .about-slider__item img {
    width: 271px;
  }
}
.about-slider__item--second {
  margin-top: 36px;
}

.about-slider__box {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.about-slider__text {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background-color: #fff;
  padding: 7px 11px;
}
@media screen and (max-width: 768px) {
  .about-slider__text {
    font-size: 24px;
  }
}
.about-slider__text:nth-child(1) {
  margin-bottom: 10px;
}

@keyframes about-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-508px);
  }
}
.about__explain {
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 100px;
}

.about__text {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 52px;
}
@media screen and (max-width: 768px) {
  .about__text {
    font-size: 18px;
  }
}
.about__text:nth-child(1) {
  margin-bottom: 52px;
}

#member .sec__description {
  text-align: left;
}

.member__wrapper {
  max-width: 1232px;
  width: 100%;
  margin-left: auto;
  padding: 200px 0;
}
@media screen and (max-width: 768px) {
  .member__wrapper {
    padding: 0 17px;
  }
}

.slideshow-container {
  width: 100%;
  overflow: hidden;
}

.slideshow-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 200%;
  display: flex;
  gap: 33px;
}
@media screen and (max-width: 768px) {
  .slideshow-track {
    width: 100%;
    overflow-x: scroll;
  }
}

.slide-image {
  width: 300px;
  height: 379px;
}
.slide-image:nth-child(2n) {
  margin-top: 36px;
}

.prev-arrow,
.next-arrow {
  display: block;
  cursor: pointer;
  padding: 16px;
  transition: 0.6s ease;
  user-select: none;
  border: 1px solid #000;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .prev-arrow,
  .next-arrow {
    display: none;
  }
}

.prev-arrow:hover,
.next-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.member__inner {
  width: fit-content;
  position: relative;
  margin: 80px auto 0;
}

.arrow__inner {
  position: absolute;
  display: flex;
  gap: 20px;
  top: 50%;
  right: -180px;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

.slide-list:nth-child(2n) {
  margin-top: 36px;
}

.member__img-inner {
  position: relative;
}

.member__voice-box {
  position: absolute;
  bottom: -3%;
}

.member__voice {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  background-color: #AFA86F;
  padding: 5px 7px;
}
.member__voice:nth-child(1) {
  margin-bottom: 11px;
}

.member__info {
  display: flex;
  margin-top: 34px;
}

.member__status,
.member__date {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  display: block;
}

.member__status {
  margin-right: 9px;
}

.member__name {
  display: block;
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 16px;
}

#benefits {
  padding: 45px 0 104px;
}
#benefits .sec-title {
  margin: 0 auto;
}

.sec__description {
  margin-bottom: 114px;
}

.benefits__wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .benefits__wrapper {
    padding: 0 17px;
  }
}

.benefits__items {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
}
@media screen and (max-width: 768px) {
  .benefits__items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 36px;
  }
}

.benefits__item {
  width: 430px;
}

.benefits-icon {
  width: 430px;
  height: 430px;
  background-color: #FAF7F1;
  border-radius: 50%;
  position: relative;
  margin-bottom: 41px;
}

.benefits-icon__title--ja {
  display: inline-block;
  background-color: #AFA86F;
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 5px 7px;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.benefits-icon__title--en {
  font-family: Viga;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  writing-mode: sideways-rl;
  line-height: 100%;
  letter-spacing: 15%;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 5%;
  right: 0;
}

.benefits-icon__img {
  display: block;
  width: 327px;
  height: 327px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#blog {
  background-color: #FAF7F1;
  padding: 45px 0 80px;
}
#blog .sec__description {
  text-align: left;
}

.sec-arrow--blog {
  background-image: url(../img/Arrow4.png);
  background-color: #fff;
  border: 1px solid #000;
  top: 0;
  right: 15%;
}
.sec-arrow--blog::after {
  content: "VIEW MORE";
  position: absolute;
  top: 50%;
  transform: translate(90%, -50%);
  white-space: nowrap;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .sec-arrow--blog {
    display: none;
  }
}

.blog__wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .blog__wrapper {
    padding: 0 17px;
  }
}

.blog__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 23px 52px;
}
@media screen and (max-width: 768px) {
  .blog__items {
    grid-template-columns: repeat(1, 1fr);
  }
}

.blog-item {
  width: 100%;
  display: flex;
}
.blog-item__img {
  width: 156px;
  height: 180px;
}
@media screen and (max-width: 768px) {
  .blog-item__img {
    min-width: 20%;
  }
}
.blog-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.blog-item__inner {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 23px;
}
@media screen and (max-width: 768px) {
  .blog-item__inner {
    width: 80%;
  }
}

.blog-item__category {
  display: block;
  font-family: Noto Sans JP;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 23px;
}
.blog-item__category::before {
  content: url(/img/category.png);
  margin-right: 4px;
}

.blog-item__title {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
}

.blog-item__date {
  margin-top: auto;
}

#recruitment {
  background-color: #FAF7F1;
  padding: 45px 140px;
}
#recruitment .sec-title {
  margin: 0 auto;
}

.recruitment__wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .recruitment__wrapper {
    padding: 0 17px;
  }
}

.recruitment__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 21px 16px;
}
@media screen and (max-width: 768px) {
  .recruitment__items {
    grid-template-columns: repeat(1, 1fr);
    gap: 19px;
  }
}

.recruitment__item {
  width: 100%;
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: #fff;
  display: block;
  padding: 50px 0;
  text-align: center;
  position: relative;
}
.recruitment__item:nth-child(3) {
  grid-column: span 2;
}
@media screen and (max-width: 768px) {
  .recruitment__item:nth-child(3) {
    grid-column: unset;
  }
}
.recruitment__item img {
  width: 20px;
  position: absolute;
  right: 20px;
}

.about-us__wrapper {
  max-width: 980px;
  margin-inline: auto;
}

#fv-bottom {
  height: 339px;
  background-image: url(../img/about-fv.jpg);
}

.fv-bottom__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 78px;
}

.fv-bottom__title {
  width: fit-content;
  display: inline-block;
  font-family: Viga;
  font-weight: 400;
  font-style: Regular;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 3px 10px;
  background-color: #fff;
}

.fv-bottom__title-sub {
  width: fit-content;
  display: inline-block;
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 3px 10px;
  margin-bottom: 4px;
  background-color: #fff;
}

.fv-bottom__dis {
  width: fit-content;
  display: inline-block;
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #988C2C;
  background-color: #fff;
  padding: 3px 10px;
}

#about-us-value {
  padding: 66px 0;
}

.bottom__title {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 86px;
}

.about-us-value__items {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.about-us-value__list {
  border-radius: 10px;
  padding: 44px 80px 30px;
  background-color: #FAF7F1;
}

.about-us-value__item-title {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 35px;
}
.about-us-value__item-title span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #222;
  border-radius: 50%;
  margin-right: 21px;
}

#about-us-message {
  padding: 66px 0;
}

.about-us-message__inner {
  display: flex;
  gap: 17px;
}

.about-us-message__left {
  width: 50%;
  height: 629px;
}
.about-us-message__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us-message__right {
  width: 50%;
}

.about-us-message__catch {
  color: #222;
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-left: -50px;
  margin-top: 18px;
  margin-bottom: 44px;
}

.about-us-message__text {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0%;
  margin-bottom: 30px;
}

#about-us-service .bottom__title {
  text-align: left;
}

.about-us-service__items {
  margin-top: 82px;
}

.about-us-service__list {
  display: flex;
  gap: 47px;
  border-bottom: 1px solid #AFA86F;
  padding: 49px 0;
}
.about-us-service__list:nth-child(1) {
  padding-top: 0;
}
.about-us-service__list:nth-child(3) {
  border-bottom: none;
}

.about-us-service__item-left {
  width: 50%;
}
.about-us-service__item-left img {
  width: 100%;
  height: 254px;
  object-fit: cover;
  border-radius: 20px;
}

.about-us-service__item-right {
  width: 50%;
}

.about-us-service__item-title {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #988C2C;
  margin-top: 22px;
  margin-bottom: 40px;
}

.about-us-service__item-catch {
  color: #222;
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 40px;
}

.about-us-service__item-text {
  color: #222;
  font-family: Noto Sans JP;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

#about-us-info {
  padding: 66px 0 140px;
}
#about-us-info .bottom__title {
  text-align: left;
}

.about-us-info__inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.about-us-info__inner > :nth-last-child(-n+2) {
  border-bottom: none;
  padding-bottom: 0;
}

.about-us-info__label {
  width: 20%;
  padding: 36px 0;
  border-bottom: 1px dotted #222;
  font-weight: bold;
}

.about-us-info__data {
  width: 80%;
  padding: 36px 0;
  border-bottom: 1px dotted #222;
}