@use 'mixin' as m;
.about-us__wrapper {
       max-width: 980px;
    margin-inline: auto;
}
//fv-bottom
#fv-bottom{
    height: 339px;
    background-image: url(../img/about-fv.jpg);
}
.fv-bottom__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 78px;
}
.fv-bottom__title {
    width: fit-content;
    display: inline-block;
    font-family: Viga;
    font-weight: 400;
    font-style: Regular;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    padding: 3px 10px;
    background-color: #fff;
}
.fv-bottom__title-sub {
    width: fit-content;
    display: inline-block;
    font-family: Noto Sans JP;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    padding: 3px 10px;
    margin-bottom: 4px;
    background-color: #fff;
}
.fv-bottom__dis {
    width: fit-content;
    display: inline-block;
    font-family: Noto Sans JP;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #988C2C;
    background-color: #fff;
    padding: 3px 10px;
}

//about-us-value
#about-us-value{
    padding: 66px 0;
}
.bottom__title {
    font-family: Noto Sans JP;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 86px;
}
.about-us-value__items {
    display: flex;
    flex-direction: column;
    gap: 35px;

}
.about-us-value__list {
    border-radius: 10px;
    padding: 44px 80px 30px;
    background-color: #FAF7F1;
}
.about-us-value__item-title {
    font-family: Noto Sans JP;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-bottom: 35px;
    span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        background-color: transparent;
        border: 1px solid #222;
        border-radius: 50%;
        margin-right: 21px;
    }
}

//about-us-message
#about-us-message {
    padding: 66px 0;
}
.about-us-message__inner {
    display: flex;
    gap: 17px;
}
.about-us-message__left {
    width: 50%;
    height: 629px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.about-us-message__right {
    width: 50%;
}
.about-us-message__catch {
    color: #222;
    font-family: Noto Sans JP;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0%;
    margin-left: -50px;
    margin-top: 18px;
    margin-bottom: 44px;
}
.about-us-message__text {
    font-family: Noto Sans JP;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: 0%;
    margin-bottom: 30px;
}

//about-us-service
#about-us-service {
    .bottom__title {
        text-align: left;
    }
}
.about-us-service__items {
    margin-top: 82px;
}
.about-us-service__list {
    display: flex;
    gap: 47px;
    border-bottom: 1px solid #AFA86F;
    padding: 49px 0;

    &:nth-child(1) {
        padding-top: 0;
    }
    &:nth-child(3) {
        border-bottom: none;
    }
}
.about-us-service__item-left {
    width: 50%;
    img {
        width: 100%;
        height: 254px;
        object-fit: cover;
        border-radius: 20px;
    }
} 
.about-us-service__item-right {
    width: 50%;
}
.about-us-service__item-title {
    font-family: Noto Sans JP;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #988C2C;
        margin-top: 22px;
    margin-bottom: 40px;
}
.about-us-service__item-catch {
    color: #222;
    font-family: Noto Sans JP;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 40px;
}
.about-us-service__item-text {
    color: #222;
    font-family: Noto Sans JP;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
}

//about-us-info
#about-us-info {
    padding: 66px 0 140px;
    .bottom__title {
        text-align: left;
    }
}
.about-us-info__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    > :nth-last-child(-n+2) {
        border-bottom: none;
        padding-bottom: 0;
    }
}
.about-us-info__label {
    width: 20%;
    padding: 36px 0;
    border-bottom: 1px dotted #222;
    font-weight: bold;
}
.about-us-info__data {
    width: 80%;
    padding: 36px 0;
    border-bottom: 1px dotted #222;
}
