.btn {
    display: block;
    color: #fff;
    font-family: Noto Sans JP;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 14px 35px;
}

.btn--recruit {
    background-color: #222;
}
.btn--entry {
    background-color: #AFA86F;
}
.btn--view {
    width: 355px;
    color: #000;
    text-align: center;
    margin: 0 auto;
    padding: 30px 124px;
    border: 1px solid #000;
    position: relative;

    &::after {
        width: 12px;
        content: url(/img/arrow7.svg);
        position: absolute;
        right: 30px;
    }
}
.btn--cta {
    color: #222;
    background-color: #AFA86F;
    position: relative;
    text-align: center;
    padding: 27px 0;

    &::after {
        width: 12px;
        content: url(/img/arrow7.svg);
        position: absolute;
        right: 30px;
    }
}