@use 'mixin' as m;
.logo {
    @include m.sp {
        width: 103px;
    }
}
#header {
    // デフォルトのスタイル（下層ページ用）
    position: static; // ヘッダーを固定しない
    z-index: 100;
    background-color: #fff;

    .logo--white {
        display: none;
    }
    .logo--black {
        display: block;
    }
    #hamburger span {
        background-color: #222;
        &:nth-child(3)::after {
            color: #222;
        }
    }

   

    // トップページ用のスタイル
    body.home & {
        position: fixed; // ヘッダーを固定する
        top: 0;
        left: 0;
        right: 0;
        background-color: transparent;

        &.is-scroll,
        &.is-active {
        background-color: #fff;
        .logo--white {
            display: none;
        }
        .logo--black {
            display: block;
        }
        #hamburger span {
            background-color: #222;
            &:nth-child(3)::after {
                color: #222;
            }
        }
    }
    &.is-active {
        background-color: #FAF7F1;
    }

        .logo--white {
            display: block;
        }
        .logo--black {
            display: none;
        }
        #hamburger span {
            background-color: #fff;
            &:nth-child(3)::after {
                color: #fff;
            }
        }
    }

   

    // スクロール時、またはハンバーガーメニューアクティブ時のスタイル
}

.header__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 30px 26px;
    @include m.sp {
        padding: 8px 12px 0;
    }
}
.header__right {
    display: flex;
    gap: 40px;
}
#hamburger {
    width: 52px;
    height: 50px;
    display: block;
    position: relative;
    text-align: center;
    @include m.sp {
        width: 32px;
        height: 32px;
    }
    span {
        width: 100%;
        height: 2px;
        background-color: #fff;
        display: block;
        position: absolute;

        &:nth-child(1) {}
        &:nth-child(2) {
            top: 15px;
            @include m.sp {
                top: 9px;
            }
        }
        &:nth-child(3) {
            top: 30px;
            @include m.sp {
                top: 18px;
            }

            &::after {
                content: "MENU";
                color: #fff;
                font-family: Viga;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;                 

            }
        }
    }
    &.is-active {
        span {
            background-color: #222;
  
            &:nth-child(1) {
                top: 50%;
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
                display: none;
            }
            &:nth-child(3) {
                top: 50%;
                transform: rotate(-45deg);
                &::after {
                    display: none;
                }
            }
        }
    }
}
.header-menu {
    display: none;
    background-color: #FAF7F1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 50;

    &.is-active {
        display: block;
    }
}
.header-menu__wrapper {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
}
.header-menu__left {
    padding-right: 63px;
}
.header-menu__right .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 40px;
    border-left: 1px solid #AFA86F;
    padding-left: 63px;
}
.menu__list {
    font-family: Viga;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #222;
    border-top: 1px solid #AFA86F;
    padding: 23px 0;

    &:nth-child(7) {
        padding-top: 50px;
        padding-bottom: 0;
    }
    &:nth-child(8) {
        padding-top: 50px;
        padding-bottom: 0;
    }

    span {
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    display: block;
    }
}